In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Carregando dados do arquivo
dados = pd.read_csv('dados.csv')
dados

,name,data_nasc,email,pontos,uf,linguagem,genero_musical
0,Joaquim Oliveira,1998-04-29,NaN,89,MT,MATLAB,Rock
1,Milena Silva,1954-05-19,milenasilva@ramos.com,34,AM,Visual Basic,Samba
2,Sophia Moreira,1997-12-25,sophiamoreira@gmail.com,91,SP,Perl,Eletrônica
3,Nina Silva,2001-03-07,ninasilva@moraes.org,88,PE,Go,Sertanejo
4,Kevin Costa,1996-06-22,kevincosta@bol.com.br,80,AC,Scratch,Música clássica
...,...,...,...,...,...,...,...
295,Larissa Peixoto,1957-11-22,larissapeixoto@barros.org,93,PR,Python,Gospel
296,Caroline Freitas,1991-08-10,carolinefreitas@correia.org,80,BA,C++,Funk
297,Alexia Dias,1951-02-24,alexiadias@nunes.br,27,TO,Ruby,Reggae
298,Ana Almeida,1960-08-10,anaalmeida@monteiro.com,88,PB,R,Pop
299,Vicente Silveira,1968-06-04,vicentesilveira@moura.br,72,MS,Ruby,Pop

In [48]:
# Transformando em dataframe
df = pd.DataFrame(dados)
df.head(14)

,name,data_nasc,email,pontos,uf,linguagem,genero_musical
0,Joaquim Oliveira,1998-04-29,NaN,89,MT,MATLAB,Rock
1,Milena Silva,1954-05-19,milenasilva@ramos.com,34,AM,Visual Basic,Samba
2,Sophia Moreira,1997-12-25,sophiamoreira@gmail.com,91,SP,Perl,Eletrônica
3,Nina Silva,2001-03-07,ninasilva@moraes.org,88,PE,Go,Sertanejo
4,Kevin Costa,1996-06-22,kevincosta@bol.com.br,80,AC,Scratch,Música clássica
5,Sofia Oliveira,1959-05-27,sofiaoliveira@uol.com.br,5,TO,Python,Blues
6,Cauã Ferreira,1976-04-05,cauãferreira@da.org,30,MG,Perl,Funk
7,Maria Cecília Caldeira,1958-10-05,NaN,31,SP,Delphi / Object Pascal,Pop
8,Sr. João Vitor da Rocha,1980-11-01,sr.joãovitordarocha@gmail.com,13,AP,Scratch,Rock
9,Caroline Martins,1963-02-12,carolinemartins@yahoo.com.br,91,MG,PL/SQL,Rap
10,Isaac Rodrigues,1984-12-13,isaacrodrigues@ig.com.br,69,SE,Python,Rap
11,João Pedro Araújo,1955-03-03,joãopedroaraújo@araujo.br,22,PA,PHP,Rap
12,Gustavo Barbosa,1970-12-16,gustavobarbosa@bol.com.br,41,PE,Swift,Country
13,Juan Cardoso,1997-06-02,juancardoso@rezende.org,95,MS,Scratch,Country

In [49]:
# Exibindo nome das colunas
df.columns

Index(['name', 'data_nasc', 'email', 'pontos', 'uf', 'linguagem',
       'genero_musical'],
      dtype='object')

In [51]:
# renomeando colunas
df = df.rename(columns={'name': 'nome', 'data_nasc': 'nascimento'})
df

,nome,nascimento,email,pontos,uf,linguagem,genero_musical
0,Joaquim Oliveira,1998-04-29,NaN,89,MT,MATLAB,Rock
1,Milena Silva,1954-05-19,milenasilva@ramos.com,34,AM,Visual Basic,Samba
2,Sophia Moreira,1997-12-25,sophiamoreira@gmail.com,91,SP,Perl,Eletrônica
3,Nina Silva,2001-03-07,ninasilva@moraes.org,88,PE,Go,Sertanejo
4,Kevin Costa,1996-06-22,kevincosta@bol.com.br,80,AC,Scratch,Música clássica
...,...,...,...,...,...,...,...
295,Larissa Peixoto,1957-11-22,larissapeixoto@barros.org,93,PR,Python,Gospel
296,Caroline Freitas,1991-08-10,carolinefreitas@correia.org,80,BA,C++,Funk
297,Alexia Dias,1951-02-24,alexiadias@nunes.br,27,TO,Ruby,Reggae
298,Ana Almeida,1960-08-10,anaalmeida@monteiro.com,88,PB,R,Pop
299,Vicente Silveira,1968-06-04,vicentesilveira@moura.br,72,MS,Ruby,Pop

In [127]:
# Porcentagem de programadores por estado
df_uf = round((df.uf.value_counts()/len(df)) * 100, 2).to_frame()
df_uf

      uf
PI  5.33
MS  5.00
RN  4.67
SP  4.67
RO  4.67
PA  4.67
AP  4.67
CE  4.33
PB  4.33
RR  4.33
ES  4.00
MT  4.00
AC  4.00
PE  4.00
PR  3.33
TO  3.33
DF  3.33
GO  3.00
AL  3.00
AM  3.00
RJ  3.00
MG  2.67
BA  2.67
SC  2.67
SE  2.67
MA  2.67
RS  2.00

In [139]:
df.genero_musical.value_counts()

Música clássica    23
Rap                23
Forró              22
Sertanejo          17
Rock               17
Country            17
Axé                17
Blues              16
Pagode             16
Reggae             16
Eletrônica         16
Samba              16
Funk               15
Jazz               15
Gospel             15
Pop                14
Hip Hop            13
MPB                12
Name: genero_musical, dtype: int64

In [141]:
df.genero_musical[df.genero_musical > 50]

TypeError: '>' not supported between instances of 'str' and 'int'